<!DOCTYPE html>
<!-- Default language: english -->
<html lang="en-US">
  <head>
    <!-- UTF-8 charset -->
    <meta charset="utf-8" />
    <!-- Title of the page -->
    <title>Cruzeiro do Sul Data Library for XAS &amp; XRD</title>
    <!-- Favicon -->
    <link rel="icon" href="ico.png" type="image/x-icon" />
    <!-- CSS Style: -->
    <link rel="stylesheet" href="style.css" >
    <!-- Include JavaScript File: -->
    <script src="script.js" defer></script>
    <!-- Author: Anailson Santos Silva -->
    <meta name="author" content="Anailson Santos Silva" />
    <!-- Description of the page -->
    <meta name="description" content="The Sirius XAS &amp; XRD Data Library." />
    <!-- Open graph data: -->
    <meta property="og:image" content="logo_final.png" />
    <meta property="og:description" content="The Sirius XAS &amp; XRD Data Library." />
    <meta property="og:title" content="Cruzeiro do Sul Data Library" />
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="Cruzeiro do Sul Data Library" />
  </head>
  <body>

    <!-- Header Bar: -->
    <header>
      <table class="header_table">
        
        <!-- Logo of the database -->
        <td style="width: 30%;">  
          <figure>
            <img class="image" src="logo.png" alt="Cruzeiro do Sul Data Library logo" title="Cruzeiro do Sul Data Library logo" />
          </figure>
        </td>

        <!-- Name of the database -->
        <td style="width: 40%;">  
          <h1>Cruzeiro do Sul Data Library for XAS &amp; XRD</h1>
        </td>

        <!-- Blank element -->
        <td style="width: 30%;">
        </td>

      </table>
    </header>

    <!-- Navigation Bar: -->
    <nav>
      <!-- Options: -->
      <ul class="topmenu">
        <li style="float: left;" class="top_item"><a href="index.html">Search XAS</a></li>
        <li style="float: left;" class="top_item"><a href="">Search XRD</a></li>
        <li style="float: left;" class="top_item"><a href="">Samples</a></li>
        <li style="float: left;" class="top_item"><a href="">Upload Data</a></li>
        <li style="float: left;" class="top_item"><a href="about.html">About</a></li>
        <li style="float: right;" class="top_item"><a href="login.html">Log in</a></li>
        <li class="float_text"> or </li>
        <li style="float: right;" class="top_item"><a href="createaccount.html">Create Account</a></li>
      </ul>
    </nav>

    <!-- Main Bar: -->
    <main>

      <h2 class="initial_main_text">Select the Absorbing Element:</h2>
        
        <!-- Form to search spectras: -->
        <form action="" method="post">
          
          <!-- Periodic Table: -->
          <table style="margin-left: auto; margin-right: auto; border-collapse: separate;">
            <tr>
              <td>
                <table class="periodic_table">
                  <tr>
                    <td><input class="other_nonmetals" type="button" value="H" onclick="ButtonClickAddElement('H')"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input class="noble_gases" type="button" value="He" onclick="ButtonClickAddElement('He')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="Li" onclick="ButtonClickAddElement('Li')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Be" onclick="ButtonClickAddElement('Be')"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input class="metalloids" type="button" value="B" onclick="ButtonClickAddElement('B')"></td>
                    <td><input class="other_nonmetals" type="button" value="C" onclick="ButtonClickAddElement('C')"></td>
                    <td><input class="other_nonmetals" type="button" value="N" onclick="ButtonClickAddElement('N')"></td>
                    <td><input class="other_nonmetals" type="button" value="O" onclick="ButtonClickAddElement('O')"></td>
                    <td><input class="halogens" type="button" value="F" onclick="ButtonClickAddElement('F')"></td>
                    <td><input class="noble_gases" type="button" value="Ne" onclick="ButtonClickAddElement('Ne')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="Na" onclick="ButtonClickAddElement('Na')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Mg" onclick="ButtonClickAddElement('Mg')"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input class="other_metals" type="button" value="Al" onclick="ButtonClickAddElement('Al')"></td>
                    <td><input class="metalloids" type="button" value="Si" onclick="ButtonClickAddElement('Si')"></td>
                    <td><input class="other_nonmetals" type="button" value="P" onclick="ButtonClickAddElement('P')"></td>
                    <td><input class="other_nonmetals" type="button" value="S" onclick="ButtonClickAddElement('S')"></td>
                    <td><input class="halogens" type="button" value="Cl" onclick="ButtonClickAddElement('Cl')"></td>
                    <td><input class="noble_gases" type="button" value="Ar" onclick="ButtonClickAddElement('Ar')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="K" onclick="ButtonClickAddElement('K')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Ca" onclick="ButtonClickAddElement('Ca')"></td>
                    <td><input class="transition_metals" type="button" value="Sc" onclick="ButtonClickAddElement('Sc')"></td>
                    <td><input class="transition_metals" type="button" value="Ti" onclick="ButtonClickAddElement('Ti')"></td>
                    <td><input class="transition_metals" type="button" value="V" onclick="ButtonClickAddElement('V')"></td>
                    <td><input class="transition_metals" type="button" value="Cr" onclick="ButtonClickAddElement('Cr')"></td>
                    <td><input class="transition_metals" type="button" value="Mn" onclick="ButtonClickAddElement('Mn')"></td>
                    <td><input class="transition_metals" type="button" value="Fe" onclick="ButtonClickAddElement('Fe')"></td>
                    <td><input class="transition_metals" type="button" value="Co" onclick="ButtonClickAddElement('Co')"></td>
                    <td><input class="transition_metals" type="button" value="Ni" onclick="ButtonClickAddElement('Ni')"></td>
                    <td><input class="transition_metals" type="button" value="Cu" onclick="ButtonClickAddElement('Cu')"></td>
                    <td><input class="transition_metals" type="button" value="Zn" onclick="ButtonClickAddElement('Zn')"></td>
                    <td><input class="other_metals" type="button" value="Ga" onclick="ButtonClickAddElement('Ga')"></td>
                    <td><input class="metalloids" type="button" value="Ge" onclick="ButtonClickAddElement('Ge')"></td>
                    <td><input class="metalloids" type="button" value="As" onclick="ButtonClickAddElement('As')"></td>
                    <td><input class="other_nonmetals" type="button" value="Se" onclick="ButtonClickAddElement('Se')"></td>
                    <td><input class="halogens" type="button" value="Br" onclick="ButtonClickAddElement('Br')"></td>
                    <td><input class="noble_gases" type="button" value="Kr" onclick="ButtonClickAddElement('Kr')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="Rb" onclick="ButtonClickAddElement('Rb')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Sr" onclick="ButtonClickAddElement('Sr')"></td>
                    <td><input class="transition_metals" type="button" value="Y" onclick="ButtonClickAddElement('Y')"></td>
                    <td><input class="transition_metals" type="button" value="Zr" onclick="ButtonClickAddElement('Zr')"></td>
                    <td><input class="transition_metals" type="button" value="Nb" onclick="ButtonClickAddElement('Nb')"></td>
                    <td><input class="transition_metals" type="button" value="Mo" onclick="ButtonClickAddElement('Mo')"></td>
                    <td><input class="transition_metals" type="button" value="Tc" onclick="ButtonClickAddElement('Tc')"></td>
                    <td><input class="transition_metals" type="button" value="Ru" onclick="ButtonClickAddElement('Ru')"></td>
                    <td><input class="transition_metals" type="button" value="Rh" onclick="ButtonClickAddElement('Rh')"></td>
                    <td><input class="transition_metals" type="button" value="Pd" onclick="ButtonClickAddElement('Pd')"></td>
                    <td><input class="transition_metals" type="button" value="Ag" onclick="ButtonClickAddElement('Ag')"></td>
                    <td><input class="transition_metals" type="button" value="Cd" onclick="ButtonClickAddElement('Cd')"></td>
                    <td><input class="other_metals" type="button" value="In" onclick="ButtonClickAddElement('In')"></td>
                    <td><input class="other_metals" type="button" value="Sn" onclick="ButtonClickAddElement('Sn')"></td>
                    <td><input class="metalloids" type="button" value="Sb" onclick="ButtonClickAddElement('Sb')"></td>
                    <td><input class="metalloids" type="button" value="Te" onclick="ButtonClickAddElement('Te')"></td>
                    <td><input class="halogens" type="button" value="I" onclick="ButtonClickAddElement('I')"></td>
                    <td><input class="noble_gases" type="button" value="Xe" onclick="ButtonClickAddElement('Xe')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="Cs" onclick="ButtonClickAddElement('Cs')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Ba" onclick="ButtonClickAddElement('Ba')"></td>
                    <td class="lanthanides">La-Lu</td>
                    <td><input class="transition_metals" type="button" value="Hf" onclick="ButtonClickAddElement('Hf')"></td>
                    <td><input class="transition_metals" type="button" value="Ta" onclick="ButtonClickAddElement('Ta')"></td>
                    <td><input class="transition_metals" type="button" value="W" onclick="ButtonClickAddElement('W')"></td>
                    <td><input class="transition_metals" type="button" value="Re" onclick="ButtonClickAddElement('Re')"></td>
                    <td><input class="transition_metals" type="button" value="Os" onclick="ButtonClickAddElement('Os')"></td>
                    <td><input class="transition_metals" type="button" value="Ir" onclick="ButtonClickAddElement('Ir')"></td>
                    <td><input class="transition_metals" type="button" value="Pt" onclick="ButtonClickAddElement('Pt')"></td>
                    <td><input class="transition_metals" type="button" value="Au" onclick="ButtonClickAddElement('Au')"></td>
                    <td><input class="transition_metals" type="button" value="Hg" onclick="ButtonClickAddElement('Hg')"></td>
                    <td><input class="other_metals" type="button" value="Tl" onclick="ButtonClickAddElement('Tl')"></td>
                    <td><input class="other_metals" type="button" value="Pb" onclick="ButtonClickAddElement('Pb')"></td>
                    <td><input class="other_metals" type="button" value="Bi" onclick="ButtonClickAddElement('Bi')"></td>
                    <td><input class="other_metals" type="button" value="Po" onclick="ButtonClickAddElement('Po')"></td>
                    <td><input class="halogens" type="button" value="At" onclick="ButtonClickAddElement('At')"></td>
                    <td><input class="noble_gases" type="button" value="Rn" onclick="ButtonClickAddElement('Rn')"></td>
                  </tr>
                  <tr>
                    <td><input class="alkali_metals" type="button" value="Fr" onclick="ButtonClickAddElement('Fr')"></td>
                    <td><input class="alkali_earth_metals" type="button" value="Ra" onclick="ButtonClickAddElement('Ra')"></td>
                    <td class="actinides">Ac-Lr</td>
                    <td><input class="transition_metals" type="button" value="Rf" onclick="ButtonClickAddElement('Rf')"></td>
                    <td><input class="transition_metals" type="button" value="Db" onclick="ButtonClickAddElement('Db')"></td>
                    <td><input class="transition_metals" type="button" value="Sg" onclick="ButtonClickAddElement('Sg')"></td>
                    <td><input class="transition_metals" type="button" value="Bh" onclick="ButtonClickAddElement('Bh')"></td>
                    <td><input class="transition_metals" type="button" value="Hs" onclick="ButtonClickAddElement('Hs')"></td>
                    <td><input class="transition_metals" type="button" value="Mt" onclick="ButtonClickAddElement('Mt')"></td>
                    <td><input class="transition_metals" type="button" value="Ds" onclick="ButtonClickAddElement('Ds')"></td>
                    <td><input class="transition_metals" type="button" value="Rg" onclick="ButtonClickAddElement('Rg')"></td>
                    <td><input class="transition_metals" type="button" value="Cn" onclick="ButtonClickAddElement('Cn')"></td>
                    <td><input class="other_metals" type="button" value="Nh" onclick="ButtonClickAddElement('Nh')"></td>
                    <td><input class="other_metals" type="button" value="Fl" onclick="ButtonClickAddElement('Fl')"></td>
                    <td><input class="other_metals" type="button" value="Mc" onclick="ButtonClickAddElement('Mc')"></td>
                    <td><input class="other_metals" type="button" value="Lv" onclick="ButtonClickAddElement('Lv')"></td>
                    <td><input class="halogens" type="button" value="Ts" onclick="ButtonClickAddElement('Ts')"></td>
                    <td><input class="noble_gases" type="button" value="Og" onclick="ButtonClickAddElement('Og')"></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input class="lanthanides" type="button" value="La" onclick="ButtonClickAddElement('La')"></td>
                    <td><input class="lanthanides" type="button" value="Ce" onclick="ButtonClickAddElement('Ce')"></td>
                    <td><input class="lanthanides" type="button" value="Pr" onclick="ButtonClickAddElement('Pr')"></td>
                    <td><input class="lanthanides" type="button" value="Nd" onclick="ButtonClickAddElement('Nd')"></td>
                    <td><input class="lanthanides" type="button" value="Pm" onclick="ButtonClickAddElement('Pm')"></td>
                    <td><input class="lanthanides" type="button" value="Sm" onclick="ButtonClickAddElement('Sm')"></td>
                    <td><input class="lanthanides" type="button" value="Eu" onclick="ButtonClickAddElement('Eu')"></td>
                    <td><input class="lanthanides" type="button" value="Gd" onclick="ButtonClickAddElement('Gd')"></td>
                    <td><input class="lanthanides" type="button" value="Tb" onclick="ButtonClickAddElement('Tb')"></td>
                    <td><input class="lanthanides" type="button" value="Dy" onclick="ButtonClickAddElement('Dy')"></td>
                    <td><input class="lanthanides" type="button" value="Ho" onclick="ButtonClickAddElement('Ho')"></td>
                    <td><input class="lanthanides" type="button" value="Er" onclick="ButtonClickAddElement('Er')"></td>
                    <td><input class="lanthanides" type="button" value="Tm" onclick="ButtonClickAddElement('Tm')"></td>
                    <td><input class="lanthanides" type="button" value="Yb" onclick="ButtonClickAddElement('Yb')"></td>
                    <td><input class="lanthanides" type="button" value="Lu" onclick="ButtonClickAddElement('Lu')"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input class="actinides" type="button" value="Ac" onclick="ButtonClickAddElement('Ac')"></td>
                    <td><input class="actinides" type="button" value="Th" onclick="ButtonClickAddElement('Th')"></td>
                    <td><input class="actinides" type="button" value="Pa" onclick="ButtonClickAddElement('Pa')"></td>
                    <td><input class="actinides" type="button" value="U" onclick="ButtonClickAddElement('U')"></td>
                    <td><input class="actinides" type="button" value="Np" onclick="ButtonClickAddElement('Np')"></td>
                    <td><input class="actinides" type="button" value="Pu" onclick="ButtonClickAddElement('Pu')"></td>
                    <td><input class="actinides" type="button" value="Am" onclick="ButtonClickAddElement('Am')"></td>
                    <td><input class="actinides" type="button" value="Cm" onclick="ButtonClickAddElement('Cm')"></td>
                    <td><input class="actinides" type="button" value="Bk" onclick="ButtonClickAddElement('Bk')"></td>
                    <td><input class="actinides" type="button" value="Cf" onclick="ButtonClickAddElement('Cf')"></td>
                    <td><input class="actinides" type="button" value="Es" onclick="ButtonClickAddElement('Es')"></td>
                    <td><input class="actinides" type="button" value="Fm" onclick="ButtonClickAddElement('Fm')"></td>
                    <td><input class="actinides" type="button" value="Md" onclick="ButtonClickAddElement('Md')"></td>
                    <td><input class="actinides" type="button" value="No" onclick="ButtonClickAddElement('No')"></td>
                    <td><input class="actinides" type="button" value="Lr" onclick="ButtonClickAddElement('Lr')"></td>
                  </tr>
                </table>
              
              </td>
              <td>
                <table>
                  <tr>
                    <td><input class="legend_other_nonmetals" type="button" value=""></td>
                    <td>Other Nonmetals</td>
                  </tr>
                  <tr>
                    <td><input class="legend_noble_gases" type="button" value=""></td>
                    <td>Noble Gases</td>
                  </tr>
                  <tr>
                    <td><input class="legend_alkali_metals" type="button" value=""></td>
                    <td>Alkali Metals</td>
                  </tr>
                  <tr>
                    <td><input class="legend_alkali_earth_metals" type="button" value=""></td>
                    <td>Alkali Earth Metals</td>
                  </tr>
                  <tr>
                    <td><input class="legend_metalloids" type="button" value=""></td>
                    <td>Metalloids</td>
                  </tr>
                  <tr>
                    <td><input class="legend_halogens" type="button" value=""></td>
                    <td>Halogens</td>
                  </tr>
                  <tr>
                    <td><input class="legend_other_metals" type="button" value=""></td>
                    <td>Other Metals</td>
                  </tr>
                  <tr>
                    <td><input class="legend_transition_metals" type="button" value=""></td>
                    <td>Transition Metals</td>
                  </tr>
                  <tr>
                    <td><input class="legend_lanthanides" type="button" value=""></td>
                    <td>Lanthanides</td>
                  </tr>
                  <tr>
                    <td><input class="legend_actinides" type="button" value=""></td>
                    <td>Actinides</td>
                  </tr>
                </table>
              </td>

            </tr> 
          </table>

          </br>

          <table class="form_table" style="width: 50%;">
            <tr>
              <td style="width: 50%;">
                <strong>Absorbing Element:</strong>
              </td>
              <td style="width: 50%;">
                <input type="text" maxlength="2" style="width: 97%;" id="absorbing_element"/>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <strong>Edge:</strong>
              </td>
              <td style="width: 50%;">
                <select style="width: 100%;" id="edge" name="edge">
                  <option value="Any" selected>Any</option>
                  <option value="K">  K</option>
                  <option value="L">  L</option>
                  <option value="L1">L1</option>
                  <option value="L2">L2</option>
                  <option value="L3">L3</option>
                  <option value="M">  M</option>
                  <option value="M1">M1</option>
                  <option value="M2">M2</option>
                  <option value="M3">M3</option>
                  <option value="M4">M4</option>
                  <option value="M5">M5</option>
                  <option value="N">  N</option>
                  <option value="N1">N1</option>
                  <option value="N2">N2</option>
                  <option value="N3">N3</option>
                  <option value="N4">N4</option>
                  <option value="N5">N5</option>
                  <option value="N6">N6</option>
                  <option value="N7">N7</option>
                  <option value="O">  O</option>
                  <option value="O1">O1</option>
                  <option value="O2">O2</option>
                  <option value="O3">O3</option>
                  <option value="O4">O4</option>
                  <option value="O5">O5</option>
                  <option value="P">  P</option>
                  <option value="P1">P1</option>
                  <option value="P2">P2</option>
                  <option value="P3">P3</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <strong>Spectrum Type:</strong>
              </td>
              <td style="width: 50%;">
                <select style="width: 100%;" id="spectrum_type" name="spectrum_type">
                  <option value="Any" selected>Any</option>
                  <option value="XAFS">XAFS</option>
                  <option value="XANES">XANES</option>
                  <option value="EXAFS">EXAFS</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <strong>Measurement Mode:</strong>
              </td>
              <td style="width: 50%;">
                <select style="width: 100%;" id="measurement" name="measurement">
                  <option value="Any" selected>Any</option>
                  <option value="Transmission">Transmission</option>
                  <option value="Fluorescence">Fluorescence</option>
                  <option value="Herfd">Herfd</option>
                  <option value="Raman">Raman</option>
                  <option value="Xeol">Xeol</option>
                  <option value="Electron emission">Electron emission</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <strong>Elements of the Sample (Separated by spaces):</strong>
              </td>
              <td style="width: 50%;">
                <input style="width: 97%;" type="text" id="composition"/>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <strong>Search Type:</strong>
              </td>
              <td style="width: 50%;">
                <select style="width: 100%;" id="SelectSearch" onchange="SearchMethodCheck();">
                  <option value="Manual" selected="selected">Manual</option>
                  <option value="Comparation">Comparation</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <div id="ComparationEnergyLegend" style="display: none;">
                  <strong>Energy Array (.txt File):</strong>
                </div>
              </td>
              <td style="width: 50%;">
                <div id="ComparationEnergyFile" style="display: none;">
                  <input type="file" style="width: 100%;" value="Choose Spectra File"/>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">
                <div id="ComparationMuLegend" style="display: none;">
                  <strong>μ Array (.txt File):</strong>
                </div>
              </td>
              <td style="width: 50%;">
                <div id="ComparationMuFile" style="display: none;">
                  <input type="file" style="width: 100%;" value="Choose Spectra File"/>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="width: 50%;">
                <input style="width: 20%;" type="submit" value="Search"/>
              </td>
            </tr>
          </table>
          
        </form>
        
        <br>

    </main>

    <!-- Footer Bar: -->
    <footer>
      <p class="footer_text">©Copyright 2023 QUATI Beamline, Sirius - CNPEM. All rights reversed.</p>
    </footer>

  </body>
</html>