<!DOCTYPE html>
<!-- Default language: english -->
<html lang="en-US">
  <head>
    <!-- UTF-8 charset -->
    <meta charset="utf-8" />
    <!-- Title of the page -->
    <title>Cruzeiro do Sul Data Library for XAS &amp; XRD</title>
    <!-- Favicon -->
    <link rel="icon" href="ico.png" type="image/x-icon" />
    <!-- CSS Style: -->
    <link rel="stylesheet" href="style.css" >
    <!-- Include JavaScript File: -->
    <script src="script.js" defer></script>
    <!-- Author: Anailson Santos Silva -->
    <meta name="author" content="Anailson Santos Silva" />
    <!-- Description of the page -->
    <meta name="description" content="The Sirius XAS &amp; XRD Data Library." />
    <!-- Open graph data: -->
    <meta property="og:image" content="logo_final.png" />
    <meta property="og:description" content="The Sirius XAS &amp; XRD Data Library." />
    <meta property="og:title" content="Cruzeiro do Sul Data Library" />
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="Cruzeiro do Sul Data Library" />
  </head>
  <body>

    <!-- Header Bar: -->
    <header>
      <table class="header_table">
        
        <!-- Logo of the database -->
        <td style="width: 30%;">  
          <figure>
            <img class="image" src="logo.png" alt="Cruzeiro do Sul Data Library logo" title="Cruzeiro do Sul Data Library logo" />
          </figure>
        </td>

        <!-- Name of the database -->
        <td style="width: 40%;">  
          <h1>Cruzeiro do Sul Data Library for XAS &amp; XRD</h1>
        </td>

        <!-- Blank element -->
        <td style="width: 30%;">
        </td>

      </table>
    </header>

    <!-- Navigation Bar: -->
    <nav>
      <!-- Options: -->
      <ul class="topmenu">
        <li style="float: left;" class="top_item"><a href="index.html">Search XAS</a></li>
        <li style="float: left;" class="top_item"><a href="">Search XRD</a></li>
        <li style="float: left;" class="top_item"><a href="">Samples</a></li>
        <li style="float: left;" class="top_item"><a href="">Upload Data</a></li>
        <li style="float: left;" class="top_item"><a href="about.html">About</a></li>
        <li style="float: right;" class="top_item"><a href="login.html">Log in</a></li>
        <li class="float_text"> or </li>
        <li style="float: right;" class="top_item"><a href="createaccount.html">Create Account</a></li>
      </ul>
    </nav>

    <!-- Main Bar: -->
    <main>

      <h2 class="initial_main_text">Login:</h2>
        
        <!-- Form to login: -->
        <form action="" method="post">

          <table class="form_table" style="width: 50%;">
            <tr>
              <td style="width: 50%;">
                <strong>E-mail:</strong>
              </td>
              <td style="width: 50%;">
                <input type="text" maxlength="100" style="width: 97%;" id="email" required/>
              </td>
            </tr>
            <tr>
            	<td style="width: 50%;">
                <strong>Password:</strong>
              </td>
              <td style="width: 50%;">
                <input type="text" maxlength="100" style="width: 97%;" id="password" required/>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="width: 50%;">
                <input style="width: 20%;" type="submit" value="Login"/>
              </td>
            </tr>
          </table>
          
        </form>
        
        <br>

    </main>

    <!-- Footer Bar: -->
    <footer>
      <p class="footer_text">©Copyright 2023 QUATI Beamline, Sirius - CNPEM. All rights reversed.</p>
    </footer>

  </body>
</html>