<!DOCTYPE html>
<!-- Default language: english -->
<html lang="en-US">
  <head>
    <!-- UTF-8 charset -->
    <meta charset="utf-8" />
    <!-- Other meta: -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title of the page -->
    <title>Cruzeiro do Sul Data Library for XAS &amp; XRD</title>
    <!-- Favicon -->
		{% load static %}
    <link rel="icon" href="{% static 'images/ico.png' %}" type="image/x-icon" />
    <!-- CSS Style: -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" >
    <!-- Include JavaScript File: -->
    {% load static %}
    <script src="{% static 'scripts/script.js' %}" defer></script>
    <!-- Author: Anailson Santos Silva -->
    <meta name="author" content="Anailson Santos Silva" />
    <!-- Description of the page -->
    <meta name="description" content="The Sirius XAS &amp; XRD Data Library." />
    <!-- Open graph data: -->
		{% load static %}
    <meta property="og:image" content="{% static 'images/logo.png' %}" />
    <meta property="og:description" content="The Sirius XAS &amp; XRD Data Library." />
    <meta property="og:title" content="Cruzeiro do Sul Data Library" />
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="Cruzeiro do Sul Data Library" />
  </head>
  <body>

    <!-- Header Bar: -->
    <header>
      <div class="container-fluid">
        <div class="row justify-content-md-center align-items-center">
          <div class="col-4">
            <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Cruzeiro do Sul Data Library logo" title="Cruzeiro do Sul Data Library logo">
          </div>
          <div class="col-6">
            <h1 class="text-white text-left fw-bold mb-4">Cruzeiro do Sul Data Library for XAS &amp; XRD</h1>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'index' %}" >Home</a>
              <a class="nav-link" href="{% url 'experiments' %}" >Experiments</a>
              <a class="nav-link" href="{% url 'normalization' %}" >Normalization</a>
              <a class="nav-link" href="{% url 'comparison' %}" >Comparison</a>
              <a class="nav-link" href="{% url 'search-data' %}" >Search Data</a>
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'user-data' %}" >User Data</a>
                <a class="nav-link" href="{% url 'about' %}" >About</a>
                <a class="nav-link" href="account/{{user.id}}/update/" ><span class="badge text-bg-info rounded-pill">Logged as {{user.last_name}}, {{user.first_name}}</span></a>
                <form id="frmLogout" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <a class="nav-link" href="#" onClick="document.getElementById('frmLogout').submit();" ><span class="badge text-bg-danger rounded-pill">Log out</span></a>
                </form>
              {% else %}
                <a class="nav-link" href="{% url 'about' %}" >About</a>
                <a class="nav-link" href="{% url 'signup' %}" ><span class="badge text-bg-success rounded-pill">Sign up</span></a>
                <a class="nav-link disabled" aria-disabled="true"> or </a>
                <a class="nav-link" href="{% url 'login' %}" ><span class="badge text-bg-primary rounded-pill">Log in</span></a>
              {% endif %}              
            </div>
          </div>
        </div>
      </nav>      
    </header>

    <div class="container">
			{% block content %}
			{% endblock %}
      <br>
      <br>

      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              <p>
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>  
                {% endif %}
                <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </p>
            </span>
          </div>
        {% endif %}
      {% endblock %}

    </div>

    <!-- Footer Bar: -->
    <footer>
      <p class="footer_text">©Copyright 2023 QUATI Beamline, Sirius - CNPEM. All rights reversed.</p>
    </footer>
    
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#dataTable').dataTable({
          "pageLength": 25,
          "order": [],
          "columnDefs": [{
            "targets": 'no-sort',
            "orderable": false,
          }]
        });
        $( "input" ).addClass( "form-control" );
        $( "select" ).addClass( "form-select" );
        $( "checkbox" ).addClass( "form-check-input" );
      </script>
  </body>
</html>