{% extends "base_generic.html" %}

{% block content %}
	<h2 class="initial_main_text">Cruzeiro do Sul Data Library Home:</h2>
  
	<p>
		Welcome to Cruzeiro do Sul Data Library! The Sirius XAS &amp; XRD Data Library.
	</p>

  <table class="form_table">
		<tr><td colspan="2" style="text-align: center;">
				<strong>The Library has the following record counts:</strong>
		</td></tr>
    <tr><td>
        <strong>Number of experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments }}
    </td></tr>
    <tr><td>
      <strong>Number of XAS experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_xas }}
    </td></tr>
    <tr><td>
      <strong>Number of XANES experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_xanes }}
    </td></tr>
    <tr><td>
      <strong>Number of EXAFS experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_exafs }}
    </td></tr>
		<tr><td>
      <strong>Number of XRD experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_xrd }}
    </td></tr>
		<tr><td>
      <strong>Number of XAS + XRD experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_xas_xrd }}
    </td></tr>
		<tr><td>
      <strong>Number of XANES + XRD experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_xanes_xrd }}
    </td></tr>
		<tr><td>
      <strong>Number of EXAFS + XRD experiments:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_experiments_exafs_xrd }}
    </td></tr>
		<tr><td>
      <strong>Number of beamlines:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_beamlines }}
    </td></tr>
		<tr><td>
      <strong>Number of facilities:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_facilities }}
    </td></tr>
		<tr><td>
      <strong>Number of users:</strong>
    </td></tr>
    <tr class="form_item"><td>
      {{ num_users }}
    </td></tr>
  </table>

{% endblock %}