{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<body>
    <h1>Upload do arquivo no formato .txt</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Enviar</button>
	<label for="title">Título:</label>
	<input type="text" id="title" name="title" value="{{ title }}">

	<label for="legend">Legenda:</label>
	<input type="checkbox" id="legend" name="legend" {% if legend %}checked{% endif %}>

	<label for="bg_color">Cor de Fundo:</label>
	<input type="color" id="bg_color" name="bg_color" value="{{ bg_color }}">

	<label for="grid_color">Cor da Grade:</label>
	<input type="color" id="grid_color" name="grid_color" value="{{ grid_color }}">
    </form>
</body>
</html>

{% endblock %}

