<body>
    <h1>Upload an XDI File</h1>
    <form action="" enctype="multipart/form-data" method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="user_text">Experiment Title (*):</label>
        <table class="form_table">
        <tr><td class="form_item">
        {{form.experiment_title}}
        </td></tr>
        <label for="user_text"> Experiment Type (*):</label>
        <tr><td class="form_item">
        {{form.experiment_type}}
        </td></tr>
        </table>
        <button type="submit">Upload</button>
    </form>
</body>

