{% extends "base_generic.html" %}

{% block content %}
<div class="mt-5">
  <div class="card shadow-none border mb-3 mt-6" data-component-card="data-component-card">
    <div class="card-header p-4 border-bottom bg-body">
      <div class="row g-3 justify-content-between align-items-center">
        <div class="col-12 col-md">
          <h4 class="text-body mb-0" data-anchor="data-anchor" id="multiple-select-example">Add Experiment</h4>
        </div>
      </div>
    </div>

    <form action="" method="POST" enctype="multipart/form-data" class="row m-1 g-3">
      {% csrf_token %}
      <div class="alert alert-info" role="alert">
        The fields required for all types of experiments are marked with (*).
      </div>
      {% if user.is_authenticated %}
        <div class="col-md-12">
          <legend>Experiment</legend>
        </div>
        <div class="col-md-2">
          <label for="inputEmail4" class="form-label">Experiment Type*</label>
          {{form.experiment_type}}
        </div>
        <div class="col-md-10">
          <label for="inputEmail4" class="form-label">Experiment Title*</label>
          {{form.experiment_title}}
        </div>

        <div class="col-md-12">
          <legend>Additional Information</legend>
        </div>
        <div class="col-md-2">
          <label for="inputEmail4" class="form-label">Citation doi*</label>
          {{form.doi}}
        </div>
        <div class="col-md-10">
          <label for="inputEmail4" class="form-label">Others information*</label>
          {{form.additional_info}}
        </div>

        <div class="col-md-12">
          <legend>XDI File</legend>
        </div>
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Upload XDI file*</label>
          <input type="file" name="xdi_file" class="form-control">
        </div>

        <div class="col text-end">
          <button class="btn btn-primary" type="submit">Upload data</button>
        </div>
      {% else %}
      <div class="alert alert-danger m-3" role="alert">
        You need to be logged in to access this page.
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}