{% extends "base_generic.html" %}

{% block content %}

  <h1>Upload an XDI File</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h2 class="initial_main_text">Add Experiment:</h2>
    <p>
      The fields required for all types of experiments are marked with (*).
    </p>
    {% if user.is_authenticated %}

      <table class="form_table">
        <tr><td style="text-align: center;">
          <h4>Experiment:</h4>
        </td></tr>
        <tr><td>
          <strong>Experiment Title (*):</strong>
        </td></tr>
        <tr><td class="form_item">
          <input type="text" name="experiment_title">
        </td></tr>
        <tr><td>
          <strong>Experiment Type (*):</strong>
        </td></tr>
        <tr><td class="form_item">
          <input type="text" name="experiment_type">
        </td></tr>
    
        <tr><td style="text-align: center;">
          <h4>Upload XDI File:</h4>
        </td></tr>
        <tr><td>
          <strong>XDI file (*):</strong>
        </td></tr>
        <tr><td class="form_item">
          <input type="file" name="xdi_file">
        </td></tr>
    
        <tr><td style="text-align: center;">
          <h4>Additional Information:</h4>
        </td></tr>
        <tr><td>
          <strong>Citation doi:</strong>
        </td></tr>
        <tr><td class="form_item">
          <input type="text" name="doi">
        </td></tr>
        <tr><td>
          <strong>Additional information:</strong>
        </td></tr>
        <tr><td class="form_item">
          <input type="text" name="additional_info">
        </td></tr>
        <tr><td style="text-align: center;">
          <input style="width: 21%;" type="submit" value="Upload data"/>
        </td></tr>
      </table>
    {% else %}
      <p>
        You need to be logged in to access this page.
      </p>
    {% endif %}
  </form>

{% endblock %}

