{% extends "base_generic.html" %}

{% block content %}
	
  <h2 class="initial_main_text">About:</h2>
  <p>
    QUATI Beamline (Sirius - CNPEM) Data Library for storing XAS &amp; XRD spectras.
  </p>
  <p>
    Developed initially in 2023 by <a href="http://lattes.cnpq.br/9997523434672372" target="_blank">Anailson Santos Silva</a> as a research project during his participation in the 30th Summer Scholarship Program (PBV30) of the National Center for Research in Energy and Materials (CNPEM) located in Campinas, São Paulo - Brazil. 
  </p>
  <p>
    The simulation data was obtained by <a href="https://github.com/FrancisGVM" target="_blank">Francis Germánico Villacrés Merchán</a> during his participation in the PBV30.
  </p>
  <p>
    The idealizers of the database and the website were PhDs <a href="http://lattes.cnpq.br/7331540857599068" target="_blank">Santiago José Alejandro Figueroa</a> (<a href="https://lnls.cnpem.br/grupos/quati-en/" target="_blank">QUATI</a> - <a href="https://lnls.cnpem.br/home/" target="_blank">LNLS</a>) and <a href="http://lattes.cnpq.br/4169321429650165" target="_blank">James Moraes de Almeida</a> (<a href="https://ilum.cnpem.br/" target="_blank">ILUM</a>) and the engineer <a href="http://lattes.cnpq.br/5666550600186833" target="_blank">Igor Ferreira Torquato</a> (<a href="https://lnls.cnpem.br/grupos/quati-en/" target="_blank">QUATI</a> - <a href="https://lnls.cnpem.br/home/" target="_blank">LNLS</a>).
  </p>
  <p>
    The source code can be obtained in the following <a href="https://github.com/anailsonss/Cruzeiro-do-Sul-Database" target="_blank">link</a>.
  </p>

{% endblock %}