{% extends "base_generic.html" %}

{% block content %}
  
  <h2 class="initial_main_text">Add Beamline:</h2>
  
  {% if user.is_authenticated %}

    <!-- Form for add beamline: -->
    <form action="" method="POST">
      {% csrf_token %}

      <table class="form_table">
        <tr><td style="text-align: center;">
          <h4>Add Beamline:</h4>
        </td></tr>
        <tr><td>
          <strong>Beamline name:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{form.name}} <small style="color: black;">{{form.name.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Collimation information:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.collimation }} <small style="color: black;">{{form.collimation.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Focusing information:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.focusing }} <small style="color: black;">{{form.focusing.help_text}}</small>
        </td></tr>
				<tr><td>
          <strong>Harmonic rejection information:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.harmonic_rejection }} <small style="color: black;">{{form.harmonic_rejection.help_text}}</small>
        </td></tr>
				<tr><td>
          <strong>Beamline facility:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.facility }} <small style="color: black;">{{form.facility.help_text}}</small>
        </td></tr>
				<tr><td>
          <strong><a href="{% url 'add-facility' %}">Add new facility</a></strong>
        </td></tr>
        <tr><td style="text-align: center;">
          <input style="width: 21%;" type="submit" value="Add Beamline"/>
        </td></tr>
      </table>

    </form>
  {% else %}
    <p>
      You need to be logged in to access this page.
    </p>
  {% endif %}

{% endblock %}