{% extends "base_generic.html" %}

{% block content %}
  
  <h2 class="initial_main_text">Add Facility:</h2>
  
  {% if user.is_authenticated %}

    <!-- Form for add facility: -->
    <form action="" method="POST">
      {% csrf_token %}

      <table class="form_table">
        <tr><td style="text-align: center;">
          <h4>Add Facility:</h4>
        </td></tr>
        <tr><td>
          <strong>Facility name:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{form.name}} <small style="color: black;">{{form.name.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Facility energy (GeV):</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.energy }} <small style="color: black;">{{form.energy.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Facility x-rays source:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.xray_source }} <small style="color: black;">{{form.xray_source.help_text}}</small>
        </td></tr>
				<tr><td>
          <strong>Facility country:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{form.country}} <small style="color: black;">{{form.country.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Facility state/province:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.state }} <small style="color: black;">{{form.state.help_text}}</small>
        </td></tr>
        <tr><td>
          <strong>Facility city:</strong>
        </td></tr>
        <tr><td class="form_item">
          {{ form.city }} <small style="color: black;">{{form.city.help_text}}</small>
        </td></tr>
        <tr><td style="text-align: center;">
          <input style="width: 21%;" type="submit" value="Add Facility"/>
        </td></tr>
      </table>

    </form>
  {% else %}
    <p>
      You need to be logged in to access this page.
    </p>
  {% endif %}

{% endblock %}