{% extends "base_generic.html" %}

{% block content %}
  
    <h2 class="initial_main_text">User Data:</h2>
  
    {% if user.is_authenticated %}

        {% if experiments %}
        <table class="form_table" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: auto;"><strong>Experiment title:</strong></td>
                <td style="width: auto;"><strong>Stoichiometry (IUPAC):</strong></td>
                <td style="width: auto;"><strong>Experiment type:</strong></td>
            </tr>
            {% for experiment in experiments %}
                <tr>
                    <td class="form_item" style="width: 40%;"><a href="{{experiment.get_absolute_url}}">{{experiment.experiment_title}}</a></td>
                    <td class="form_item" style="width: 30%;">{{experiment.sample_stoichiometry_iupac}}</td>
                    <td class="form_item" style="width: 30%;">
                        {% if experiment.experiment_type == '1' %}
                            XAS
                        {% elif experiment.experiment_type == '2' %}
                            XANES
                        {% elif experiment.experiment_type == '3' %}
                            EXAFS
                        {% elif experiment.experiment_type == '4' %}
                            Powder diffraction
                        {% elif experiment.experiment_type == '5' %}
                            XAS + Powder diffraction
                        {% elif experiment.experiment_type == '6' %}
                            XANES + Powder diffraction
                        {% elif experiment.experiment_type == '7' %}
                            EXAFS + Powder diffraction
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if experiments.has_other_pages %}
            <ul class="pagination">
                {% if experiments.has_previous %}
                    <li><a href="?page={{experiments.previous_page_number}}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo</span></li>
                {% endif %}
                {% for i in experiments.paginator.page_range %}
                    {% if experiments.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if experiments.has_next %}
                    <li><a href="?page={{ experiments.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        {% else %}
        <p>
            You still don't have experiments registered.
        </p>
        {% endif %}

        <p><strong><a href="{% url 'add-experiment' %}">Upload New Experiment</a></strong></p>

    {% else %}
        <p>
            You need to be logged in to access this page.
        </p>
    {% endif %}

{% endblock %}