{% extends "base_generic.html" %}

{% block content %}
  
  <h2 class="initial_main_text">Change account:</h2>
  
	{% if user.is_authenticated %}
		<!-- Form to change account: -->
		<form method="post" action="{% url 'account' %}">
			{% csrf_token %}
			
			<table class="form_table">
				{% for field in form %}
					<tr>
						<td>
							<strong>{{field.label_tag}}</strong><br>
						</td>
					</tr>
					<tr>
						<td class="form_item">
							{{field}}
							{% if field.help_text %}
								<small style="color: black;">{{field.help_text}}</small>
							{% endif %}
							<br>
							{% for error in field.errors %}
								<small style="color: red;">{{error}}</small>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td style="text-align: center;">
						<button style="width: 21%;" type="submit">Change account</button>
					</td>
				</tr>
			</table>

		</form>
	{% else %}
        <p>You need to log in to change an account!<p>
	{% endif %}

{% endblock %}