/* All HTML Document: */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f9f9f9 !important;
}

/* Header: */

header {
  color: white;
  border: 0px;
  padding: 0px;
  width: 100%;
  background-color: #06083c;
}

.header_table {
  width: 100%;
  border: 2px solid white;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

/* Navigation Bar: */

nav {
  color: white;
  border-right: 2px solid;
  border-left: 2px solid;
  padding: 0px;
  background-color: #06083c;
}

.topmenu {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  background-color: #06083c;
}

.float_text {
  display: block;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  float: right;
}

.top_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.top_item a:hover {
  background-color: #26285c;
}

/* Main Bar: */

main {
  min-height: 76%;
  color: black;
  border: 2px solid;
  padding: 0px;
  background-color: #aaaaaa;
}

main p {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  text-align: justify;
  text-justify: inter-word;
}

.initial_main_text {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
}

/* Periodic Table: */

.alkali_metals, .alkali_earth_metals, .other_metals, .metalloids, .other_nonmetals, .halogens, .noble_gases, .lanthanides, .actinides, .transition_metals {
  border-right: 2px solid #444444;
  border-bottom: 2px solid #444444;
  border-left: 0px solid #444444;
  border-top: 0px solid #444444;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.other_nonmetals {
  background-color: #ffa500;
}

.other_nonmetals:hover {
  background-color: #bf6500;
}

.alkali_metals {
  background-color: #ff0000;
}

.alkali_metals:hover {
  background-color: #bf0000;
}

.alkali_earth_metals {
  background-color: #deb887;
}

.alkali_earth_metals:hover {
  background-color: #9e7847;
}

.lanthanides {
  color: white;
  background-color: #0000ff;
}

.lanthanides:hover {
  color: white;
  background-color: #0000bf;
}

.actinides {
  background-color: #40e0d0;
}

.actinides:hover {
  background-color: #00a090;
}

.transition_metals {
  background-color: #adff2f;
}

.transition_metals:hover {
  background-color: #6dbf00;
}

.noble_gases {
  background-color: #d87093;
}

.noble_gases:hover {
  background-color: #983053;
}

.metalloids {
  background-color: #ffff00;
}

.metalloids:hover {
  background-color: #bfbf00;
}

.other_metals {
  color: white;
  background-color: #800080;
}

.other_metals:hover {
  color: white;
  background-color: #400040;
}

.halogens {
  background-color: #008000;
}

.halogens:hover {
  background-color: #004000;
}


.legend_alkali_metals, .legend_alkali_earth_metals, .legend_other_metals, .legend_metalloids, .legend_other_nonmetals, .legend_halogens, .legend_noble_gases, .legend_lanthanides, .legend_actinides, .legend_transition_metals {
  border-bottom: 2px solid #444444;
  border-right: 2px solid #444444;
  border-left: 0px solid #444444;
  border-top: 0px solid #444444;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  text-align: left;
}

.legend_other_nonmetals {
  background-color: #ffa500;
}

.legend_alkali_metals {
  background-color: #ff0000;
}

.legend_alkali_earth_metals {
  background-color: #deb887;
}

.legend_lanthanides {
  background-color: #0000ff;
}

.legend_actinides {
  background-color: #40e0d0;
}

.legend_transition_metals {
  background-color: #adff2f;
}

.legend_noble_gases {
  background-color: #d87093;
}

.legend_metalloids {
  background-color: #ffff00;
}

.legend_other_metals {
  background-color: #800080;
}

.legend_halogens {
  background-color: #008000;
}

.periodic_table {
  text-align: center;
  color: black;
  border-collapse: separate;
  letter-spacing: 2px;
}

/* Form: */

.form_table {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  color: black;
  background-color: #dddddd;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: separate;
  border-bottom: 2px solid #444444;
  border-right: 2px solid #444444;
  border-radius: 5px;
}

.form_table tr {
  border: none;
  border-collapse: collapse;
}

.form_item {
  background-color: #cccccc;
}

.form_table select {
  width: 25%;
}

.form_text_field {
  width: 24%;
}

/* Footer Bar: */

footer {
  color: white;
  border: 2px solid;
  padding: 0px;
  background-color: #06083c;
}

.footer_text {
  color: white;
  margin-left: 1%;
}
.card-header:first-child {
  background-color: #e9ecef !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}