{% extends "base_generic.html" %}

{% block content %}
  
  <h2 class="initial_main_text">Log in:</h2>
	
	{% if user.is_authenticated %}
		<p>You already are logged!<p>
	{% else %}
		<!-- Form to login: -->
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			
			<table class="form_table">
				<tr><td>
					<strong>{{form.username.label_tag}}</strong>
				</td></tr>
				<tr><td class="form_item">
					{{form.username}}
					<small style="color: black;">Enter your e-mail.</small>
				</td></tr>
				<tr><td>
					<strong>{{form.password.label_tag}}</strong>
				</td></tr>
				<tr><td class="form_item">
					{{form.password}}
					<small style="color: black;">Enter your password.</small>
				</td></tr>
				{% if form.errors %}
					<tr><td>
						<small style="color: red;">Your username and password didn't match. Please try again.</small>
					</td></tr>
				{% endif %}
				<tr><td colspan="2" style="text-align: center;">
					<input style="width: 21%;" type="submit" value="login"/>
				</td></tr>
			</table>
	
		</form>

		<p><strong><a href="{% url 'password_reset' %}">Lost password?</a></strong></p>
	{% endif %}

{% endblock %}